@{
    ViewBag.Title = "Azure Online Tools";
}

<div class="container-fluid">
    <h3 class="page-header">@ViewBag.Title</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-cog"></i>
                    Enable Storage CORS ( Cross-Origin Resource Sharing )
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Account Name</label>
                    </div>
                    <div class="form-group">
                        <input id="accountname-input" class="form-control" type="text" value="" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Account Key</label>
                    </div>
                    <div class="form-group">
                        <input id="accountkey-input" class="form-control" type="text" value="" />
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="chinaendpoint-input" />
                        <label class="control-label">Use China Endpoint</label>
                    </div>
                    <div class="form-group">
                        <button id="enablecors-button" class="btn btn-primary" data-action="enable-cors">
                            <i class="fa fa-save"></i> Enable CORS
                        </button>
                    </div>
                    <div class="form-group">
                        <div class="alert alert-warning">
                            <label class="control-label" id="enablecors-output"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            var tools = {
                init: function () {
                    $('#enablecors-button').click(function () {
                        var accountName = $('#accountname-input')[0].value;
                        var accountKey = $('#accountkey-input')[0].value;
                        var useChinaEndpoint = $('#chinaendpoint-input')[0].checked;
                        var output = $('#enablecors-output');
                        $.ajax({
                            url: "/Azure/EnableStorageCORS",
                            type: 'GET',
                            data: { accountName: accountName, accountKey: accountKey, useChinaEndpoint: useChinaEndpoint },
                            success: function (data) {
                                output.text(data);
                            },
                            error: function (data) {
                                output.text(data.message);
                            },
                        });
                    });
                }
            };
            window.tools = tools;
            tools.init();
        });
    </script>
}

