<main class="container">
  <header>
    <h1 id="title">Azure Latency Test</h1>
  </header>
  <section>
    <p id="description">
      This tool tests latency from your IP location to Azure datacenters worldwide.
    </p>
    <ul>
      <li>
        For latency tests between Azure regions on the backbone network, see
        <a href="/Azure/RegionToRegionLatency" target="_blank">Azure Region to Region Latency</a>
        .
      </li>
      <li>
        To test latency between and within Azure availability zones, visit
        <a
          href="https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/sap-ha-availability-zones#network-latency-between-and-within-zones"
          target="_blank"
        >
          Network latency between and within zones
        </a>
      </li>
      <li>
        For AWS region latency tests, use the
        <a href="https://awsspeedtest.com" target="_blank">AWS Speed Test</a>
      </li>
    </ul>
  </section>
  <section>
    <app-region-group></app-region-group>
  </section>
  <section class="mt-2">
    <h2 id="closest-datacenters" class="text-primary">Closest Datacenters</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Region</th>
            <th scope="col">Average Latency (ms)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableDataTop3">
            <td>{{ item.displayName }} ({{ item.physicalLocation }})</td>
            <td>{{ item.averageLatency }} ms</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section>
    <div class="latency-chart-container">
      <ngx-charts-line-chart
        [results]="chartDataSeries"
        [scheme]="colorScheme"
        [animations]="false"
        [rangeFillOpacity]="1"
        [xAxis]="true"
        [yAxis]="true"
        [roundDomains]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [curve]="curve"
        [xAxisTicks]="xAxisTicks"
        [yScaleMin]="0"
      ></ngx-charts-line-chart>
    </div>
  </section>
  <section>
    <h2 id="latency-test-result" class="text-primary">Latency Test Result</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Geography</th>
            <th scope="col">Region</th>
            <th scope="col">Physical Location</th>
            <th scope="col">Average Latency (ms)</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of tableData"
            [ngStyle]="{
              'background-color':
                (item?.averageLatency ?? 0) > 0 && (item?.averageLatency ?? 0) < 100
                  ? 'lightgreen'
                  : ''
            }"
          >
            <td>{{ item.geography }}</td>
            <td>{{ item.displayName }}</td>
            <td>{{ item.physicalLocation }}</td>
            <td>{{ item.averageLatency }} ms</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section>
    <div class="ad-space"></div>
  </section>
</main>
