<div>
  <div class="border-bottom">
    <h1 class="h4">Azure Latency Test</h1>
  </div>
  <div>
    This tool tests latency from your IP location to Azure datacenters worldwide.
    <ul>
      <li>
        For latency tests between Azure regions on the backbone network, see
        <a href="/Azure/RegionToRegionLatency" target="_blank">Azure Region to Region Latency</a>.
      </li>
      <li>
        To test latency between and within Azure availability zones, visit
        <a
          href="https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/sap/sap-ha-availability-zones#network-latency-between-and-within-zones"
          target="_blank"
          >Network latency between and within zones</a
        >
      </li>
      <li>For AWS region latency tests, use the <a href="https://www.awsspeedtest.com" target="_blank">AWS Speed Test</a></li>
    </ul>
  </div>
  <div class="mt-2">
    <app-region-group></app-region-group>
  </div>
  <div class="mt-3">
    <div class="text-primary">
      <i class="fa fa-list-alt text-primary" aria-hidden="true"></i>
      Closest Datacenters
    </div>
    <table class="table table-sm table-bordered table-striped ft-14 mt-2">
      <thead>
        <tr>
          <th scope="col">Region</th>
          <th scope="col">Average Latency (ms)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableDataTop3">
          <td>{{ item.displayName }} ({{ item.physicalLocation }})</td>
          <td>{{ item.averageLatency }} ms</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-4">
    <div class="mt-2 border bg-light px-2 pt-4">
      <div style="width: 100%; height: 280px">
        <ngx-charts-line-chart
          [results]="lineChartData"
          [scheme]="colorScheme"
          [animations]="false"
          [rangeFillOpacity]="1"
          [xAxis]="true"
          [yAxis]="true"
          [roundDomains]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [curve]="curve"
          [xAxisTicks]="xAxisTicks"
          [yScaleMin]="0"
        >
        </ngx-charts-line-chart>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <div class="text-primary">
      <i class="fa fa-list-alt text-primary" aria-hidden="true"></i>
      Latency Test
    </div>
    <table class="table table-sm table-bordered table-striped ft-14 mt-2">
      <thead>
        <tr>
          <th scope="col">Geography</th>
          <th scope="col">Region</th>
          <th scope="col">Physical Location</th>
          <th scope="col">Average Latency (ms)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableData">
          <td>{{ item.geography }}</td>
          <td>{{ item.displayName }}</td>
          <td>{{ item.physicalLocation }}</td>
          <td>{{ item.averageLatency }} ms</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-4"><br /><br /><br /><br /></div>
  <!-- This space is reserved for a Google ad. The empty area above it is intended to prevent any overlap with the ad. -->
</div>
