<h1 class="h2">Azure IP Ranges By Region</h1>
<p>
  Explore the complete list of IP ranges for Microsoft Azure services across different regions
  worldwide. Click on a region to view its IP ranges, or
  <a href="/Information/AzureIpRangesByService" class="link-primary">
    explore Azure IP Ranges by Service
  </a>
  .
</p>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Region</th>
      <th scope="col">IP Ranges Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>australiacentral</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.australiacentral">
          AzureCloud.australiacentral IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>australiacentral2</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.australiacentral2">
          AzureCloud.australiacentral2 IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>australiaeast</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.australiaeast">
          AzureCloud.australiaeast IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>australiasoutheast</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.australiasoutheast">
          AzureCloud.australiasoutheast IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>brazilne</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.brazilne">AzureCloud.brazilne IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>brazilse</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.brazilse">AzureCloud.brazilse IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>brazilsouth</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.brazilsouth">
          AzureCloud.brazilsouth IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>canadacentral</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.canadacentral">
          AzureCloud.canadacentral IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>canadaeast</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.canadaeast">
          AzureCloud.canadaeast IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>centralfrance</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.centralfrance">
          AzureCloud.centralfrance IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>centralindia</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.centralindia">
          AzureCloud.centralindia IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>centralus</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.centralus">AzureCloud.centralus IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>centraluseuap</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.centraluseuap">
          AzureCloud.centraluseuap IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>chinaeast</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.chinaeast">AzureCloud.chinaeast IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>chinaeast2</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.chinaeast2">
          AzureCloud.chinaeast2 IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>chinaeast3</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.chinaeast3">
          AzureCloud.chinaeast3 IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>chinanorth</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.chinanorth">
          AzureCloud.chinanorth IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>chinanorth2</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.chinanorth2">
          AzureCloud.chinanorth2 IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>chinanorth3</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.chinanorth3">
          AzureCloud.chinanorth3 IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>eastasia</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.eastasia">AzureCloud.eastasia IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>eastus</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.eastus">AzureCloud.eastus IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>eastus2</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.eastus2">AzureCloud.eastus2 IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>eastus2euap</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.eastus2euap">
          AzureCloud.eastus2euap IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>germanycentral</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.germanycentral">
          AzureCloud.germanycentral IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>germanyn</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.germanyn">AzureCloud.germanyn IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>germanynortheast</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.germanynortheast">
          AzureCloud.germanynortheast IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>germanywc</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.germanywc">AzureCloud.germanywc IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>israelcentral</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.israelcentral">
          AzureCloud.israelcentral IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>italynorth</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.italynorth">
          AzureCloud.italynorth IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>japaneast</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.japaneast">AzureCloud.japaneast IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>japanwest</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.japanwest">AzureCloud.japanwest IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>jioindiacentral</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.jioindiacentral">
          AzureCloud.jioindiacentral IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>jioindiawest</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.jioindiawest">
          AzureCloud.jioindiawest IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>koreacentral</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.koreacentral">
          AzureCloud.koreacentral IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>koreasouth</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.koreasouth">
          AzureCloud.koreasouth IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>malaysiasouth</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.malaysiasouth">
          AzureCloud.malaysiasouth IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>mexicocentral</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.mexicocentral">
          AzureCloud.mexicocentral IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>newzealandnorth</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.newzealandnorth">
          AzureCloud.newzealandnorth IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>northcentralus</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.northcentralus">
          AzureCloud.northcentralus IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>northeurope</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.northeurope">
          AzureCloud.northeurope IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>northeurope2</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.northeurope2">
          AzureCloud.northeurope2 IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>norwaye</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.norwaye">AzureCloud.norwaye IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>norwayw</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.norwayw">AzureCloud.norwayw IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>polandcentral</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.polandcentral">
          AzureCloud.polandcentral IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>qatarcentral</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.qatarcentral">
          AzureCloud.qatarcentral IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>southafricanorth</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.southafricanorth">
          AzureCloud.southafricanorth IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>southafricawest</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.southafricawest">
          AzureCloud.southafricawest IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>southcentralus</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.southcentralus">
          AzureCloud.southcentralus IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>southeastasia</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.southeastasia">
          AzureCloud.southeastasia IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>southfrance</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.southfrance">
          AzureCloud.southfrance IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>southindia</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.southindia">
          AzureCloud.southindia IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>spaincentral</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.spaincentral">
          AzureCloud.spaincentral IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>swedencentral</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.swedencentral">
          AzureCloud.swedencentral IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>swedensouth</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.swedensouth">
          AzureCloud.swedensouth IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>switzerlandn</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.switzerlandn">
          AzureCloud.switzerlandn IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>switzerlandw</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.switzerlandw">
          AzureCloud.switzerlandw IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>taiwannorth</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.taiwannorth">
          AzureCloud.taiwannorth IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>taiwannorthwest</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.taiwannorthwest">
          AzureCloud.taiwannorthwest IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>uaecentral</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.uaecentral">
          AzureCloud.uaecentral IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>uaenorth</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.uaenorth">AzureCloud.uaenorth IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>uksouth</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.uksouth">AzureCloud.uksouth IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>ukwest</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.ukwest">AzureCloud.ukwest IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>usdodcentral</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.usdodcentral">
          AzureCloud.usdodcentral IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>usdodeast</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.usdodeast">AzureCloud.usdodeast IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>usgovarizona</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.usgovarizona">
          AzureCloud.usgovarizona IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>usgoviowa</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.usgoviowa">AzureCloud.usgoviowa IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>usgovtexas</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.usgovtexas">
          AzureCloud.usgovtexas IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>usgovvirginia</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.usgovvirginia">
          AzureCloud.usgovvirginia IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>usstagec</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.usstagec">AzureCloud.usstagec IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>usstagee</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.usstagee">AzureCloud.usstagee IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>westcentralus</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.westcentralus">
          AzureCloud.westcentralus IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>westeurope</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.westeurope">
          AzureCloud.westeurope IP Ranges
        </a>
      </td>
    </tr>
    <tr>
      <td>westindia</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.westindia">AzureCloud.westindia IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>westus</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.westus">AzureCloud.westus IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>westus2</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.westus2">AzureCloud.westus2 IP Ranges</a>
      </td>
    </tr>
    <tr>
      <td>westus3</td>
      <td>
        <a href="/Information/AzureIpRanges/AzureCloud.westus3">AzureCloud.westus3 IP Ranges</a>
      </td>
    </tr>
  </tbody>
</table>
