<main class="container">
  <header>
    <h1 id="title">About AzureSpeed</h1>
  </header>
  <section>
    <p>
      <a href="https://www.azurespeed.com" title="Azure Speed Test">AzureSpeed.com</a>
      is a speed test tool that measures your network latency, download, and upload speeds across
      multiple global locations. It is independently maintained by
      <a href="https://github.com/blrchen" target="_blank" title="Blair Chen's Github Profile">
        Blair Chen
      </a>
      and the Github community in spare time, this site is not officially associated or endorsed by
      Microsoft. The source code is accessible on
      <a
        href="https://github.com/blrchen/azure-speed-test"
        target="_blank"
        title="AzureSpeed Github Repository"
      >
        GitHub
      </a>
      . This project is built using various open-source technologies such as:
    </p>
    <ul>
      <li>
        <a href="https://github.com/angular/angular" target="_blank">Angular</a>
      </li>
      <li>
        <a href="https://github.com/dotnet/aspnetcore" target="_blank">ASP.NET Core</a>
      </li>
      <li>
        <a href="https://github.com/blrchen/azure-ip-lookup" target="_blank">Azure IP Lookup</a>
      </li>
      <li>
        <a href="https://github.com/Azure/azure-sdk-for-js" target="_blank">
          Azure SDK for JavaScript
        </a>
      </li>
      <li>
        <a href="https://github.com/twbs/bootstrap" target="_blank">Bootstrap</a>
      </li>
      <li>
        <a href="https://github.com/blrchen/cloud-catalog" target="_blank">Cloud Catalog</a>
      </li>
      <li>
        <a href="https://github.com/d3/d3-shape" target="_blank">d3-shape</a>
      </li>
      <li>
        <a href="https://github.com/swimlane/ngx-charts" target="_blank">ngx-charts</a>
      </li>
      <li>
        <a href="https://github.com/reactivex/rxjs" target="_blank">RxJS</a>
      </li>
    </ul>
  </section>
  <section>
    <h2>Feedback</h2>
    <p>
      If you come across any bugs or have a feature suggestion, kindly create an issue on
      <a
        href="https://github.com/blrchen/azure-speed-test/issues"
        target="_blank"
        title="AzureSpeed Github Issues"
      >
        Github
      </a>
      .
    </p>
  </section>
  <section>
    <h2>Contribution</h2>
    <p>
      We welcome and greatly appreciate your contributions. If you're interested in contributing,
      please fork the project on
      <a
        href="https://github.com/blrchen/azure-speed-test"
        target="_blank"
        title="AzureSpeed Github Repository"
      >
        GitHub
      </a>
      and submit a pull request.
    </p>
  </section>
</main>
