<div>
  <div class="border-bottom">
    <h1 class="h4">About</h1>
  </div>
  <div>
    <p>
      <a href="https://www.azurespeed.com">www.AzureSpeed.com</a> is a speed test tool that measures your network latency, download, and
      upload speeds across multiple global locations.
    </p>
    <p>
      <a href="https://github.com/blrchen" target="_blank">Blair Chen </a> maintains
      <a href="https://www.azurespeed.com">www.AzureSpeed.com</a> as an open-source project on
      <a href="https://github.com/blrchen/azure-speed-test" target="_blank">GitHub</a>. It utilizes various open-source technologies such as
    </p>
    <ul>
      <li>
        <a href="https://github.com/angular/angular" target="_blank">Angular</a>
      </li>
      <li>
        <a href="https://github.com/microsoft/ApplicationInsights-JS" target="_blank">Application Insights JavaScript SDK</a>
      </li>
      <li>
        <a href="https://github.com/dotnet/aspnetcore" target="_blank">ASP.NET Core</a>
      </li>
      <li>
        <a href="https://github.com/blrchen/azure-ip-lookup" target="_blank">Azure IP Lookup</a>
      </li>
      <li>
        <a href="https://github.com/Azure/azure-sdk-for-js" target="_blank">Azure SDK for JavaScript</a>
      </li>
      <li>
        <a href="https://github.com/twbs/bootstrap" target="_blank">Bootstrap</a>
      </li>
      <li>
        <a href="https://github.com/blrchen/cloud-catalog" target="_blank">Cloud Catalog</a>
      </li>
      <li>
        <a href="https://github.com/d3/d3-shape" target="_blank">d3-shape</a>
      </li>
      <li>
        <a href="https://github.com/FortAwesome/Font-Awesome" target="_blank">Font Awesome</a>
      </li>
      <li>
        <a href="https://github.com/swimlane/ngx-charts" target="_blank">ngx-charts</a>
      </li>
      <li>
        <a href="https://github.com/reactivex/rxjs" target="_blank">RxJS</a>
      </li>
    </ul>
  </div>
  <div>
    <h2 class="h5">Feedback</h2>
    <p>
      For bug reports or feature requests, please create an issue on
      <a href="https://github.com/blrchen/azure-speed-test/issues" target="_blank">Github</a>
    </p>
    <h2 class="h5">Contribution</h2>
    <p>
      Your contributions are greatly appreciated. To contribute, fork the project on
      <a href="https://github.com/blrchen/azure-speed-test" target="_blank">GitHub</a> and submit a pull request.
    </p>
  </div>
</div>
