<div>
  <div class="border-bottom">
    <h1 class="h4">About</h1>
  </div>
  <div>
    <p>
      <a href="https://www.azurespeed.com">www.AzureSpeed.com</a> - Azure speed
      test tool. Test your network latency, download and upload speed to Azure
      datacenters around the world.
    </p>
    <a href="https://www.azurespeed.com">www.AzureSpeed.com</a> is maintained by
    Blair Chen(<a href="https://twitter.com/blrchen" target="_blank">@blrchen</a
    >), open source in
    <a href="https://github.com/blrchen/AzureSpeed" target="_blank">GitHub</a>,
    built on top of following open source projects
    <ul>
      <li>
        <a href="https://github.com/angular/angular" target="_blank">Angular</a>
      </li>
      <li>
        <a
          href="https://github.com/microsoft/ApplicationInsights-JS"
          target="_blank"
          >Application Insights JavaScript SDK</a
        >
      </li>
      <li>
        <a href="https://github.com/dotnet/aspnetcore" target="_blank"
          >ASP.NET Core</a
        >
      </li>
      <li>
        <a href="https://github.com/Azure/azure-sdk-for-js" target="_blank"
          >Azure SDK for JavaScript</a
        >
      </li>
      <li>
        <a href="https://github.com/twbs/bootstrap" target="_blank"
          >Bootstrap</a
        >
      </li>
      <li>
        <a href="https://github.com/d3/d3-shape" target="_blank">d3-shape</a>
      </li>
      <li>
        <a href="https://github.com/FortAwesome/Font-Awesome" target="_blank"
          >Font Awesome</a
        >
      </li>
      <li>
        <a href="https://github.com/swimlane/ngx-charts" target="_blank"
          >ngx-charts</a
        >
      </li>
      <li>
        <a href="https://github.com/reactivex/rxjs" target="_blank">RxJS</a>
      </li>
    </ul>
  </div>
  <div>
    <h2 class="h5">Feedback</h2>
    <p>
      Feedback is welcome, please create an issue in
      <a href="https://github.com/blrchen/AzureSpeed/issues" target="_blank"
        >Github</a
      >
    </p>
    <h2 class="h5">Contribution</h2>
    <p>
      Contribution is welcome, please fork on
      <a href="https://github.com/blrchen/AzureSpeed" target="_blank">GitHub</a>
      and send pull request
    </p>
    <h2 class="h5">Change logs</h2>
    <h6>2020-03-23</h6>
    <ul>
      <li>Add Azure IP lookup</li>
    </ul>
    <h6>2020-01-30</h6>
    <ul>
      <li>Add UAE, Switzerland, Germany, Norway regions</li>
      <li>Add China regions</li>
      <li>Add Region2Region latency</li>
    </ul>
    <h6>2019-03-17</h6>
    <ul>
      <li>Add France, Africa regions</li>
    </ul>
    <h6>2017-05-29</h6>
    <ul>
      <li>Add Azure Environments page</li>
      <li>Add Azure Regions page</li>
    </ul>
    <h6>2017-05-08</h6>
    <ul>
      <li>Add korea regions</li>
    </ul>

    <h6>2016-10-23</h6>
    <ul>
      <li>Add PsPing latency test page</li>
    </ul>
    <h6>2016-10-4</h6>
    <ul>
      <li>Add UK regions</li>
      <li>Add region filters</li>
    </ul>
    <h6>2016-6-6</h6>
    <ul>
      <li>Add Canada regions</li>
    </ul>

    <h6>2015-10-30</h6>
    <ul>
      <li>Add Datacenter IP Range page</li>
    </ul>
    <h6>2015-09-30</h6>
    <ul>
      <li>Add India regions</li>
    </ul>
    <h6>2015-02-13</h6>
    <ul>
      <li>Add Media Service Live Streaming Latency Test page</li>
    </ul>

    <h6>2014-08-21</h6>
    <ul>
      <li>Add Traffic Manager Test pages</li>
      <li>Add Cloud Region Finder tool pages</li>
      <li>Add Australia regions</li>
    </ul>
    <h6>2014-07-30</h6>
    <ul>
      <li>Add East US 2, Japan East, Japan West regions</li>
      <li>Add CDN Test page</li>
      <li>Add Large File Upload Speed Test pages</li>
    </ul>
    <h6>2014-04-10</h6>
    <ul>
      <li>Add Latency Test page</li>
      <li>Add Upload Speed Test page</li>
      <li>Add Download Speed Test page</li>
    </ul>
  </div>
</div>
