<main class="container">
  <header>
    <h1 id="title">Azure Availability Zones</h1>
    <p>
      Availability Zones are separate locations within an Azure region, each containing one or more
      datacenters with independent power, cooling, and networking infrastructure.
    </p>
  </header>
  <section>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Geography</th>
            <th scope="col">Regions</th>
            <th scope="col">Physical Location</th>
            <th scope="col">Availability Zone #</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of tableData">
            <td>{{ r.geography }}</td>
            <td>
              <strong>{{ r.displayName }}</strong>
            </td>
            <td>{{ r.physicalLocation }}</td>
            <td>
              {{ r.availabilityZoneCount == 0 ? 'Not supported' : r.availabilityZoneCount }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section>
    <h2>Additional Resources</h2>
    <ul>
      <li>
        <a
          href="https://github.com/blrchen/cloud-catalog/blob/main/src/assets/azure/regions.json"
          target="_blank"
        >
          regions.json
        </a>
      </li>
      <li>
        <a
          href="https://docs.microsoft.com/en-us/rest/api/compute/resourceskus/list"
          target="_blank"
        >
          Azure resource SKUs API provides the zone information
        </a>
      </li>
      <li>
        <a href="https://aka.ms/AZoverview" target="_blank">Learn more about Availability Zones</a>
      </li>
      <li>
        Download the
        <a
          href="https://azure.microsoft.com/en-us/resources/azure-resiliency-infographic/"
          target="_blank"
        >
          Azure resiliency infographic
        </a>
      </li>
    </ul>
  </section>
  <section>
    <div class="ad-space"></div>
  </section>
</main>
