<div>
  <div class="border-bottom">
    <h1 class="h4">Azure Availability Zones</h1>
    <small>
      Availability Zones are physically separate locations within an Azure region. Each Availability Zone is made up of one or more
      datacenters equipped with independent power, cooling, and networking.
    </small>
  </div>
  <div class="mt-3">
    <table class="table table-sm table-bordered table-striped ft-14 mt-2">
      <thead>
        <tr>
          <td>Geography</td>
          <th>Regions</th>
          <th>Physical Location</th>
          <th>Availability Zone #</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of tableData">
          <td>{{ r.geography }}</td>
          <td>
            <strong>{{ r.displayName }}</strong>
          </td>
          <td>{{ r.physicalLocation }}</td>
          <td>
            {{ r.availabilityZoneCount == 0 ? "Not supported" : r.availabilityZoneCount }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-3">
    <h2 class="h5">Resources</h2>
    <ul>
      <li>
        <a href="https://github.com/blrchen/cloud-data-lab/blob/main/azure/regions.json" target="_blank">regions.json</a>
      </li>
      <li>
        <a href="https://docs.microsoft.com/en-us/rest/api/compute/resourceskus/list" target="_blank"
          >Azure resource SKUs API provides the zone information</a
        >
      </li>
      <li>
        <a href="https://aka.ms/AZoverview" target="_blank">Learn more about Availability Zones</a>
      </li>
      <li>
        Download the
        <a href="https://azure.microsoft.com/en-us/resources/azure-resiliency-infographic/" target="_blank">Azure resiliency infographic</a>
      </li>
    </ul>
  </div>
</div>
