**/.classpath
**/.angular
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/.DS_Store
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/dist
**/node_modules
**/npm-debug.log
**/obj
**/out-tsc
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**
