@{
  ViewBag.Title = "Azure CDN Speed Test";
}

<div class="container-fluid">
  <div class="page-header">
    <h3>@ViewBag.Title</h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>CDN Speed Test is turned off because some bad guys programmically download the test file, caused me $$$</p>
    </div>
  </div>
</div>
