<div>
  <div class="border-bottom">
    <h1 class="h5">Cloud Region Finder</h1>
    <small>
      Cloud Region Finder enables you to quickly lookup cloud and region
      information of application deployment, try it by entering url or ip
      address now! Currently Azure, AWS, AliCloud are supported.
    </small>
  </div>
  <div class="form-group mt-3">
    <div class="input-group">
      <input
        class="form-control"
        type="text"
        value=""
        placeholder="Type ip or url to start, examples: 168.62.20.37 or azurespeed.com"
        ng-model="ipOrUrl"
        ng-keyup="$event.keyCode == 13 && canSearch() && click()"
      />
      <span class="input-group-btn">
        <button
          class="btn btn-primary"
          ng-disabled="!canSearch()"
          ng-click="click()"
        >
          <i class="fa fa-search"></i> Search
        </button>
      </span>
    </div>
  </div>
  <div class="mt-3">
    <h3>Restful API</h3>
    <p>
      Restful api is available via http://www.azurespeed.com/api/region, it
      returns datacenter region name. If the resolved address can not be found
      in azure datacenter ip ranges, returns region not found.
    </p>
    <h5>Examples:</h5>
    <ul>
      <li>
        <a
          href="https://azurespeed-api-wus.azurewebsites.net/api/region?ipOrUrl=65.52.170.210"
          target="_blank"
          >https://azurespeed-api-wus.azurewebsites.net/api/region?ipOrUrl=65.52.170.210</a
        >
      </li>
      <li>
        <a
          href="https://azurespeed-api-wus.azurewebsites.net/api/region?ipOrUrl=azurespeed.com"
          target="_blank"
          >https://azurespeed-api-wus.azurewebsites.net/api/region?ipOrUrl=www.azurespeed.com</a
        >
      </li>
    </ul>
  </div>
</div>
<div class="mt-3">
  <h3>References</h3>
  <ul>
    <li>
      Azure:
      <a
        href="https://www.microsoft.com/en-us/download/details.aspx?id=56519"
        target="_blank"
        >https://www.microsoft.com/en-us/download/details.aspx?id=56519</a
      >
    </li>
    <li>
      [Deprecated] Azure:
      <a
        href="https://www.microsoft.com/en-us/download/details.aspx?id=41653"
        target="_blank"
        >https://www.microsoft.com/en-us/download/details.aspx?id=41653</a
      >
    </li>
    <li>
      Azure China:
      <a
        href="https://www.microsoft.com/en-us/download/details.aspx?id=57062"
        target="_blank"
        >https://www.microsoft.com/en-us/download/details.aspx?id=57062</a
      >
    </li>
    <li>
      [Deprecated] Azure China:
      <a
        href="https://www.microsoft.com/en-us/download/details.aspx?id=42064"
        target="_blank"
        >https://www.microsoft.com/en-us/download/details.aspx?id=42064</a
      >
    </li>
    <li>
      AWS:
      <a
        href="http://docs.aws.amazon.com/general/latest/gr/aws-ip-ranges.html"
        target="_blank"
        >http://docs.aws.amazon.com/general/latest/gr/aws-ip-ranges.html</a
      >
    </li>
  </ul>
</div>
