@import 'tailwindcss';

@import './styles/theme.css';
@import './styles/utilities.css';

@import './styles/alerts.css';
@import './styles/badges.css';
@import './styles/base.css';
@import './styles/breadcrumbs.css';
@import './styles/buttons.css';
@import './styles/cards.css';
@import './styles/faq.css';
@import './styles/forms.css';
@import './styles/layout.css';
@import './styles/links.css';
@import './styles/skeletons.css';
@import './styles/spinner.css';
@import './styles/tables.css';

@custom-variant dark (&:is(.dark *));
