/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
html,
body {
  height: 100vh;
}

body {
  overflow: auto;
}

.cursor-pointer {
  cursor: pointer;
}

/* above are legacy styles */

h1 {
  font-size: 1.75rem; /* 28px */
}

h2 {
  font-size: 1.5rem; /* 24px */
}

h3 {
  font-size: 1.25rem; /* 20px */
}

h4 {
  font-size: 1rem; /* 16px */
}

h5 {
  font-size: 0.875rem; /* 14px */
}

h6 {
  font-size: 0.75rem; /* 12px */
}

p {
  white-space: pre-wrap;
}

.latency-chart-container {
  width: 100%;
  height: 280px;
}

.ad-space {
  height: 100px;
  width: 100%;
}
