<main class="container">
  <header>
    <h1 id="title">ChatGPT Email Generator</h1>
  </header>
  <section>
    <p id="description">
      Generate medium to long-sized emails quickly with ChatGPT's Email Generator. Simply enter your
      desired email subject and let our tool do the rest.
    </p>
  </section>
  <form [formGroup]="userContentForm" (submit)="submitForm()">
    <fieldset class="form-group">
      <label for="userContent">
        Enter your desired email subject below and click 'Generate Email'.
      </label>
      <textarea
        class="form-control"
        id="userContent"
        placeholder="Enter your desired email subject here..."
        formControlName="userContent"
        required
        rows="4"
      ></textarea>
      <div class="text-info">{{ userContentForm.get('userContent').value.length }}/5000</div>
      <div
        *ngIf="userContentForm.controls['userContent'].errors?.['maxlength']"
        class="error text-danger"
      >
        Character limit exceeded. Please limit your text to 5000 characters.
      </div>
    </fieldset>
    <button type="submit" class="btn btn-primary" [disabled]="userContentForm.invalid || isLoading">
      Generate Email
    </button>
    <button type="button" class="btn btn-secondary ml-2" (click)="resetForm()">Reset</button>
  </form>
  <div *ngIf="isLoading" class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <section *ngIf="result">
    <h2>Generated Email:</h2>
    <p>{{ result }}</p>
  </section>
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
  <assistant-footer></assistant-footer>
</main>
