<main class="container">
  <header>
    <h1 id="title">Azure Storage Blob Upload Speed Test</h1>
    <p>Test the upload speed to Azure Storage Service across different regions worldwide.</p>
  </header>
  <section>
    <app-region-group></app-region-group>
  </section>
  <section>
    <h2 class="text-primary">Upload Speed Test</h2>
    <div class="border-top pt-2">
      <button type="button" class="btn btn-sm btn-primary" (click)="onStartTest()">
        Start Upload Speed Test
      </button>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Geography</th>
            <th scope="col">Region</th>
            <th scope="col">Physical Location</th>
            <th scope="col">Upload Progress</th>
            <th scope="col">Upload Speed</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableData">
            <td>{{ item.geography }}</td>
            <td>{{ item.displayName }}</td>
            <td>{{ item.physicalLocation }}</td>
            <td>
              <div>
                <div class="progress">
                  <div
                    class="progress-bar progress-bar-striped bg-success"
                    role="progressbar"
                    [ngStyle]="{ width: item.progress }"
                    [ngClass]="{
                      'progress-bar-animated': item.progress != '100%'
                    }"
                    aria-valuenow=""
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    {{ item.progress }}
                  </div>
                </div>
              </div>
            </td>
            <td>{{ item.speed }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section>
    <div class="ad-space"></div>
  </section>
</main>
