<main class="container">
  <header>
    <h1 id="title">Azure IP Lookup</h1>
    <p id="description">
      Search for service tag and region information using an IP address or domain name.
    </p>
  </header>
  <section>
    <form [formGroup]="ipLookupForm" class="form-group" id="ipLookupForm" (submit)="submitForm()">
      <label class="sr-only" for="ipOrDomain">Enter the IP address or domain name</label>
      <div class="input-group">
        <input
          id="ipOrDomain"
          class="form-control"
          type="search"
          formControlName="ipOrDomain"
          placeholder="Enter the IP address or domain name (e.g. 168.62.20.37 or www.azurespeed.com)"
          required
          aria-required="true"
        />
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </div>
    </form>
    <div *ngIf="isLoading" class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </section>
  <section *ngIf="result">
    <div class="table-responsive">
      <table class="table table-striped">
        <caption class="sr-only">Search Result</caption>
        <thead>
          <tr>
            <th scope="col">ServiceTagId</th>
            <th scope="col">IpAddress</th>
            <th scope="col">IpAddressPrefix</th>
            <th scope="col">Region</th>
            <th scope="col">SystemService</th>
            <th scope="col">NetworkFeatures</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of result">
            <td>{{ r.serviceTagId }}</td>
            <td>{{ r.ipAddress }}</td>
            <td>{{ r.ipAddressPrefix }}</td>
            <td>{{ r.region }}</td>
            <td>{{ r.systemService }}</td>
            <td>{{ r.networkFeatures }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section>
    <h2>API Usage</h2>
    <p>
      Access the Azure IP lookup Restful API at
      <code>https://www.azurespeed.com/api/ipAddress</code>
      , with these examples:
    </p>

    <div class="table-responsive">
      <table class="table table-striped">
        <caption class="sr-only">API Examples</caption>
        <thead>
          <tr>
            <th scope="col">Function</th>
            <th scope="col">API Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Domain name lookup</td>
            <td>
              <a
                href="https://www.azurespeed.com/api/ipAddress?ipOrDomain=www.azurespeed.com"
                target="_blank"
              >
                https://www.azurespeed.com/api/ipAddress?ipOrDomain=www.azurespeed.com
              </a>
            </td>
          </tr>
          <tr>
            <td>IPv4 address lookup</td>
            <td>
              <a
                href="https://www.azurespeed.com/api/ipAddress?ipOrDomain=104.45.231.79"
                target="_blank"
              >
                https://www.azurespeed.com/api/ipAddress?ipOrDomain=104.45.231.79
              </a>
            </td>
          </tr>
          <tr>
            <td>IPv6 address lookup</td>
            <td>
              <a
                href="https://www.azurespeed.com/api/ipAddress?ipOrDomain=2603:1030:0800:0005:0000:0000:BFEE:A418"
                target="_blank"
              >
                https://www.azurespeed.com/api/ipAddress?ipOrDomain=2603:1030:0800:0005:0000:0000:BFEE:A418
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section>
    <h2>Additional Resources:</h2>
    <ul>
      <li>
        API Source Code:
        <a href="https://github.com/blrchen/azure-ip-lookup" target="_blank">
          https://github.com/blrchen/azure-ip-lookup
        </a>
      </li>
      <li>
        Service Tags Overview:
        <a
          href="https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#service-tags"
          target="_blank"
        >
          https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#service-tags
        </a>
      </li>
      <li>
        Service Tags API:
        <a
          href="https://docs.microsoft.com/en-us/rest/api/virtualnetwork/servicetags/list"
          target="_blank"
        >
          https://docs.microsoft.com/en-us/rest/api/virtualnetwork/servicetags/list
        </a>
      </li>
      <li>
        Download Azure's IP range and service tag data (updated weekly) from these pages:
        <ul>
          <li>
            Azure Public Cloud:
            <a
              href="https://www.microsoft.com/en-us/download/details.aspx?id=56519"
              target="_blank"
            >
              https://www.microsoft.com/en-us/download/details.aspx?id=56519
            </a>
          </li>
          <li>
            Azure China Cloud:
            <a
              href="https://www.microsoft.com/en-us/download/details.aspx?id=57062"
              target="_blank"
            >
              https://www.microsoft.com/en-us/download/details.aspx?id=57062
            </a>
          </li>
          <li>
            Azure US Government Cloud:
            <a
              href="https://www.microsoft.com/en-us/download/details.aspx?id=57063"
              target="_blank"
            >
              https://www.microsoft.com/en-us/download/details.aspx?id=57063
            </a>
          </li>
          <li>
            Azure Germany Cloud:
            <a
              href="https://www.microsoft.com/en-us/download/details.aspx?id=57064"
              target="_blank"
            >
              https://www.microsoft.com/en-us/download/details.aspx?id=57064
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</main>
