<div>
  <div class="border-bottom">
    <h1 class="h4">Azure IP Lookup</h1>
    <small
      >The Azure IP Lookup tool allows quick searches for service tag and region information using either an IP address or domain
      name.</small
    >
  </div>
  <div class="form-group mt-3">
    <form autocomplete="off" novalidate>
      <div class="input-group">
        <input
          class="form-control"
          type="text"
          name="ipAddressOrUrl"
          placeholder="Enter the ip or domain name in this format: 168.62.20.37 or www.azurespeed.com"
          [(ngModel)]="ipAddressOrUrl"
          (keyup.enter)="onSubmit()"
          required
        />
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" (click)="onSubmit()"><i class="fa fa-search"></i> Search</button>
        </span>
      </div>
    </form>
  </div>
  <div class="mt-3">
    <table class="table table-sm table-bordered table-striped ft-14 mt-2">
      <thead>
        <tr>
          <th>ServiceTagId</th>
          <th>IpAddress</th>
          <th>IpAddressPrefix</th>
          <th>Region</th>
          <th>SystemService</th>
          <th>NetworkFeatures</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of tableData">
          <td>{{ r.serviceTagId }}</td>
          <td>{{ r.ipAddress }}</td>
          <td>{{ r.ipAddressPrefix }}</td>
          <td>{{ r.region }}</td>
          <td>{{ r.systemService }}</td>
          <td>{{ r.networkFeatures }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-3">
    <h2 class="h5">Restful API</h2>
    <p>Access the Azure IP lookup Restful API at https://www.azurespeed.com/api/ipinfo, with these examples:</p>
    <ul>
      <li>
        Domain name:
        <a href="https://www.azurespeed.com/api/ipinfo?ipAddressOrUrl=www.azurespeed.com" target="_blank"
          >https://www.azurespeed.com/api/ipinfo?ipAddressOrUrl=www.azurespeed.com</a
        >
      </li>
      <li>
        IPv4:
        <a href="https://www.azurespeed.com/api/ipinfo?ipAddressOrUrl=104.45.231.79" target="_blank"
          >https://www.azurespeed.com/api/ipinfo?ipAddressOrUrl=104.45.231.79</a
        >
      </li>
      <li>
        IPv6:
        <a href="https://www.azurespeed.com/api/ipinfo?ipAddressOrUrl=2603:1030:0800:0005:0000:0000:BFEE:A418" target="_blank"
          >https://www.azurespeed.com/api/ipinfo?ipAddressOrUrl=2603:1030:0800:0005:0000:0000:BFEE:A418</a
        >
      </li>
    </ul>
  </div>
</div>
<div class="mt-3">
  <h2 class="h5">Additional Resources:</h2>
  <ul>
    <li>
      API Source Code:
      <a href="https://github.com/blrchen/azure-ip-lookup" target="_blank">https://github.com/blrchen/azure-ip-lookup</a>
    </li>
    <li>
      Service Tags Overview:
      <a href="https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#service-tags" target="_blank"
        >https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#service-tags</a
      >
    </li>
    <li>
      Service Tags API:
      <a href="https://docs.microsoft.com/en-us/rest/api/virtualnetwork/servicetags/list" target="_blank"
        >https://docs.microsoft.com/en-us/rest/api/virtualnetwork/servicetags/list</a
      >
    </li>
    <li>
      Download Azure's IP range and service tag data (updated weekly) from these pages:
      <ul>
        <li>
          Azure Cloud:
          <a href="https://www.microsoft.com/en-us/download/details.aspx?id=56519" target="_blank"
            >https://www.microsoft.com/en-us/download/details.aspx?id=56519</a
          >
        </li>
        <li>
          Azure China Cloud:
          <a href="https://www.microsoft.com/en-us/download/details.aspx?id=57062" target="_blank"
            >https://www.microsoft.com/en-us/download/details.aspx?id=57062</a
          ><br />
        </li>
        <li>
          Azure US Government Cloud:
          <a href="https://www.microsoft.com/en-us/download/details.aspx?id=57063" target="_blank"
            >https://www.microsoft.com/en-us/download/details.aspx?id=57063</a
          ><br />
        </li>
        <li>
          Azure Germany Cloud:
          <a href="https://www.microsoft.com/en-us/download/details.aspx?id=57064" target="_blank"
            >https://www.microsoft.com/en-us/download/details.aspx?id=57064</a
          >
        </li>
      </ul>
      <br />
    </li>
  </ul>
</div>
