<div>
  <div class="border-bottom">
    <h1 class="h4">Azure CDN Speed Test</h1>
  </div>
  <div>
    CDN Speed Test is turned off, you can checkout following alternative pages which let you run tests on latency and throughput
    <ul>
      <li>
        <a href="https://www.citrix.com/products/citrix-intelligent-traffic-management/country-reports.html" target="_blank"
          >Content delivery network (CDN) and cloud performance by country</a
        >
      </li>
      <li>
        <a href="https://www.cdnperf.com/" target="_blank">CDN Performance Analytics & Comparison</a>
      </li>
    </ul>
  </div>
</div>
