<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to https://github.com/nlog/NLog/wiki/Configuration-file for more information -->

  <variable name="logDirectory" value="${basedir}/logs"></variable>
  <targets>
    <target name="logfile" type="File" layout="${longdate} ${message} ${exception:format=tostring}" filename="${logDirectory}/${shortdate}.log"></target>
    <target name="console" type="ColoredConsole" layout="${longdate} ${message} ${exception:format=tostring}"></target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeto="console"></logger>
    <logger name="*" minlevel="Debug" writeto="logfile"></logger>
  </rules>
</nlog>