<div>
  <div class="border-bottom">
    <h1 class="h4">References</h1>
  </div>

  <div class="mt-3">
    <ul>
      <li>
        <a href="https://azure.microsoft.com/en-us/global-infrastructure/regions/" target="_blank">Azure Datacenter Regions</a>
      </li>
      <li>
        <a href="https://azure.microsoft.com/en-us/global-infrastructure/geographies/" target="_blank">Azure geographies</a>
      </li>
      <li>
        <a href="https://azure.microsoft.com/en-us/global-infrastructure/locations/" target="_blank">Azure Locations</a>
      </li>
      <li>
        <a href="https://docs.microsoft.com/en-us/azure/cdn/cdn-pop-locations" target="_blank"
          >Azure Content Delivery Network (CDN) Node Locations</a
        >
      </li>
      <li>
        <a href="https://docs.microsoft.com/en-us/azure/storage/storage-scalability-targets" target="_blank"
          >Azure Storage Scalability and Performance Targets</a
        >
      </li>
      <li>
        <a href="http://azure.microsoft.com/en-us/documentation/articles/azure-subscription-service-limits" target="_blank"
          >Azure Subscription and Service Limits, Quotas, and Constraints</a
        >
      </li>
      <li>
        <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html" target="_blank"
          >AWS Regions and Availability Zones</a
        >
      </li>
    </ul>
  </div>
</div>
