@{
    ViewBag.Title = "Download";
}

<div class="container-fluid">
    <h3 class="page-header">Azure CDN Speed Test</h3>
    <div class="row">
        <div class="col-md-12">
            <p>CDN Speed Test is merged into Latency Test and Upload Speed Test, CDN edge node is treated as a location like other datacenter regions</p>
        </div>
    </div>
</div>
