@{
    ViewBag.Title = "Azure CDN Speed Test";
}

<div class="container-fluid">
    <h3 class="page-header">Azure CDN Speed Test</h3>
    <div class="row">
        <div class="col-md-12">
            <p>CDN Speed Test is turned off due to attackers :( </p>
        </div>
    </div>
</div>
