@{
    ViewBag.Title = "Cloud Region Finder";
}
<script type="text/javascript" src="~/Scripts/azurespeed/finder.js"></script>

<div class="container-fluid">
    <h3 class="page-header">@ViewBag.Title</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                Cloud Region Finder enables you to quickly lookup cloud and region infomation of application deployment, try it by entering url or ip address now!
                Currently Azure, AWS, AliCloud are supported.
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input id="lookup-input" class="form-control" type="text" value=""
                           placeholder="Example: 65.52.168.70 or www.azurespeed.com" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" data-action="lookup">
                            <i class="fa fa-search"></i> Search
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="alert alert-warning">
                    <label class="control-label" id="lookup-output">
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-12">
            <h4>API</h4>
            <div>You can use following web api to do ip lookup: <a href="http://www.azurespeed.com/api/getregion">http://www.azurespeed.com/api/getregion</a>, it returns Azure datacenter region name or Region not found if the input address is not in Azure public ip list</div>
            <div>
                <h5>Examples:</h5>
                <ul>
                    <li>
                        <a href="http://www.azurespeed.com/api/getregion?ipOrUrl=65.52.170.210" target="_blank">http://www.azurespeed.com/api/getregion?ipOrUrl=65.52.170.210</a>
                    </li>
                    <li>
                        <a href="http://www.azurespeed.com/api/getregion?ipOrUrl=www.azurespeed.com" target="_blank">http://www.azurespeed.com/api/getregion?ipOrUrl=www.azurespeed.com</a>
                    </li>
                </ul>
            </div>
            <h4>IP Range files</h4>
            <div>IP range file of each cloud provider can be downloaded at: </div>
            <div>
                <ul>
                    <li>
                        Azure: <a href="https://www.microsoft.com/en-us/download/details.aspx?id=41653" target="_blank">https://www.microsoft.com/en-us/download/details.aspx?id=41653</a>
                    </li>
                    <li>
                        Azure China: <a href="https://www.microsoft.com/en-us/download/details.aspx?id=42064" target="_blank">https://www.microsoft.com/en-us/download/details.aspx?id=42064</a>
                    </li>
                    <li>
                        AWS: <a href="http://docs.aws.amazon.com/general/latest/gr/aws-ip-ranges.html" target="_blank">http://docs.aws.amazon.com/general/latest/gr/aws-ip-ranges.html</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
