@{
    ViewBag.Title = "Azure Storage Latency Test";
}

@Scripts.Render("~/bundles/d3")
<script type="text/javascript" src="~/Scripts/azurespeed/latency.js">
</script>
<style>
   .x.axis line {
        shape-rendering: auto;
    }

    .line {
        fill: none;
        stroke-width: 3px;
    }
</style>

<div class="container-fluid">
    <h3 class="page-header">Azure Storage Latency Test</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                Test network latency to Azure Storage in worldwide data centers, determine the best region for your application and users. A closer data center will provide less latency and fast throughput.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-th-list"></i>
                    Closest Data Centers
                </div>
                <table class="table table-bordered table-striped" id="closest-table"></table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-area-chart"></i>
                    Azure Storage Latency
                </div>
                <div class="chart-container">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-th-list"></i>
                    Latency Test
                </div>
                <table class="table table-bordered table-striped" id="latency-table">
                    <thead>
                        <tr>
                            <th>GEO Zone</th>
                            <th>Region</th>
                            <th>Location</th>
                            <th>Average Latency (ms)</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
