@{
    ViewBag.Title = "TrafficManager";
}

<div class="container-fluid">
    <h3 class="page-header">Azure TrafficManager Test</h3>
    <div class="row">
        <div class="col-md-12">
            <p>
                AzureSpeed.com is running in both Azure East Asia and West US data centers, with following 2 website endpoints
                <ul>
                    <li>azurespeedeastasia.azurewebsites.net ( Deloyment in East Asia )</li>
                    <li>azurespeedwestus.azurewebsites.net ( Deployment in West US )</li>
                </ul>
            </p>
            <p>
                An Azure traffic manager endpoint azurespeed.trafficmanager.net is created which will direct you to the deployment closest to you(in term of lowest network latency).
            </p>
            <p>
                Your session is serviced by Azure website instance in <strong>@ViewBag.Region</strong> region with ip <strong>@ViewBag.Ip</strong>
            </p>
        </div>
    </div>
</div>
