<div id="upload-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload File</h4>
            </div>
            <div class="modal-body form-horizontal">
                <form>
                    <div class="form-group">
                        <label class="control-label col-md-3">File</label>
                        <div class="col-md-9">
                            <input id="file-input" type="file" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Region</label>
                        <div class="col-md-9">
                            <select id="region-select" class="form-control" required>
                                <option value="">Please select a region</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Block Size</label>
                        <div class="col-md-9">
                            <select id="blocksize-select" class="form-control" required>
                                <option value="256" selected>256K</option>
                                <option value="512">512K</option>
                                <option value="1024">1024K</option>
                                <option value="2048">2048K</option>
                                <option value="4096">4096K</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Thread</label>
                        <div class="col-md-9">
                            <select id="thread-select" class="form-control" required>
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="4">4</option>
                                <option value="8">8</option>
                            </select>
                        </div>
                    </div>
                    <div class="progress">
                        <div id="progress-bar" class="progress-bar" role="progressbar"></div>
                    </div>
                    <div id="error-panel" class="alert alert-danger"></div>
                    <div id="message-panel" class="alert alert-warning"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" data-action="upload">Upload</button>
            </div>
        </div>
    </div>
</div>
