<main class="container">
  <header>
    <h1 id="title">ChatGPT Code Explainer</h1>
  </header>
  <section>
    <p id="description">
      The ChatGPT Code Explainer is an AI assistant that provides clear and detailed explanations
      for code snippets in various programming languages, helping users to better understand the
      code.
    </p>
  </section>
  <form [formGroup]="userContentForm" (submit)="submitForm()">
    <fieldset class="form-group">
      <label for="userContent">
        Enter the code snippet you want to understand. We support various programming languages,
        including Python, JavaScript, and many more:
      </label>
      <textarea
        class="form-control"
        id="userContent"
        placeholder="Paste your code snippet here. e.g., def hello_world(): print('Hello, world!')"
        formControlName="userContent"
        required
        rows="8"
      ></textarea>
      <div class="text-info">{{ userContentForm.get('userContent').value.length }}/5000</div>
      <div
        *ngIf="userContentForm.controls['userContent'].errors?.['maxlength']"
        class="error text-danger"
      >
        Character limit exceeded. Please limit your text to 5000 characters.
      </div>
    </fieldset>
    <button type="submit" class="btn btn-primary" [disabled]="userContentForm.invalid || isLoading">
      Explain Code
    </button>
    <button type="button" class="btn btn-secondary ml-2" (click)="resetForm()">Clear Form</button>
  </form>
  <div *ngIf="isLoading" class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <section *ngIf="result">
    <h2>Explanation:</h2>
    <p>{{ result }}</p>
  </section>
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
  <assistant-footer></assistant-footer>
</main>
