@{
    ViewBag.Title = "Azure Sovereign Clouds";
}

<div class="container-fluid">
    <div class="page-header">
        <h3>@ViewBag.Title</h3>
        <small></small>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Azure Sovereign Clouds
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped" style="word-break: break-all">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Introduction</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="">AzureCloud</td>
                                <td style=""><a href="https://azure.microsoft.com" target="_blank">https://azure.microsoft.com</a></td>
                            </tr>
                            <tr>
                                <td style="">AzureChinaCloud</td>
                                <td style=""><a href="https://www.azure.cn/zh-cn/" target="_blank">https://www.azure.cn/zh-cn/</a></td>
                            </tr>
                            <tr>
                                <td style="">AzureGermanCloud</td>
                                <td style=""><a href="https://azure.microsoft.com/en-us/global-infrastructure/germany/" target="_blank">https://azure.microsoft.com/en-us/global-infrastructure/germany/</a></td>
                            </tr>
                            <tr>
                                <td style="">AzureUSGovernment</td>
                                <td style=""><a href="https://azure.microsoft.com/en-us/global-infrastructure/government/" target="_blank">https://azure.microsoft.com/en-us/global-infrastructure/government/</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>References</h3>
            <p>
                <ul>
                    <li>
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>