@{
  ViewBag.Title = "Azure Regions";
}

<div class="container-fluid">
  <div class="page-header">
    <h3>@ViewBag.Title</h3>
    <small>A region is a set of datacenters deployed within a latency-defined perimeter and connected through a dedicated regional low-latency network.</small>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Azure Regions
        </div>
        <div class="panel-body">
          <table class="table table-bordered table-striped" style="word-break: break-all">
            <thead>
              <tr>
                <th>Geography</th>
                <th>Region</th>
                <th>Paired Region</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="">Asia</td>
                <td style="">East Asia</td>
                <td style="">Southeast Asia</td>
              </tr>
              <tr>
                <td style="">Australia</td>
                <td style="">Australia East</td>
                <td style="">Australia Southeast</td>
              </tr>
              <tr>
                <td style="">Australia</td>
                <td style="">Australia Central</td>
                <td style="">Australia Central 2</td>
              </tr>
              <tr>
                <td style="">Brazil</td>
                <td style="">Brazil South</td>
                <td style="">South Central US</td>
              </tr>
              <tr>
                <td style="">Canada</td>
                <td style="">Canada Central</td>
                <td style="">Canada East</td>
              </tr>
              <tr>
                <td style="">China</td>
                <td style="">China North</td>
                <td style="">China East</td>
              </tr>
              <tr>
                <td style="">China</td>
                <td style="">China North 2</td>
                <td style="">China East 2</td>
              </tr>
              <tr>
                <td style="">Europe</td>
                <td style="">North Europe</td>
                <td style="">West Europe</td>
              </tr>
              <tr>
                <td style="">France</td>
                <td style="">France Central</td>
                <td style="">France South</td>
              </tr>
              <tr>
                <td style="">Germany</td>
                <td style="">Germany Central</td>
                <td style="">Germany Northeast</td>
              </tr>
              <tr>
                <td style="">India</td>
                <td style="">Central India</td>
                <td style="">South India</td>
              </tr>
              <tr>
                <td style="">India</td>
                <td style="">West India</td>
                <td style="">South India</td>
              </tr>
              <tr>
                <td style="">Japan</td>
                <td style="">Japan East</td>
                <td style="">Japan West</td>
              </tr>
              <tr>
                <td style="">Korea</td>
                <td style="">Korea Central</td>
                <td style="">Korea South</td>
              </tr>
              <tr>
                <td style="">North America</td>
                <td style="">East US</td>
                <td style="">West US</td>
              </tr>
              <tr>
                <td style="">North America</td>
                <td style="">East US 2</td>
                <td style="">Central US</td>
              </tr>
              <tr>
                <td style="">North America</td>
                <td style="">North Central US</td>
                <td style="">South Central US</td>
              </tr>
              <tr>
                <td style="">North America</td>
                <td style="">West US 2</td>
                <td style="">West Central US</td>
              </tr>
              <tr>
                <td style="">UK</td>
                <td style="">UK West</td>
                <td style="">UK South</td>
              </tr>
              <tr>
                <td style="">US Department of Defense</td>
                <td style="">US DoD East</td>
                <td style="">US DoD Central</td>
              </tr>
              <tr>
                <td style="">US Government</td>
                <td style="">US Gov Arizona</td>
                <td style="">US Gov Texas</td>
              </tr>
              <tr>
                <td style="">US Government</td>
                <td style="">US Gov Iowa</td>
                <td style="">US Gov Virginia</td>
              </tr>
              <tr>
                <td style="">US Government</td>
                <td style="">US Gov Virginia</td>
                <td style="">US Gov Texas</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>References</h3>
      <p>
        <ul>
          <li>
            <a href="https://aka.ms/AzureRegions" target="_blank">Azure regions</a>
          </li>
          <li>
            <a href="https://docs.microsoft.com/en-us/azure/best-practices-availability-paired-regions" target="_blank">Business continuity and disaster recovery (BCDR): Azure Paired Regions</a>
          </li>
          <li>
            <a href="https://aka.ms/AZoverview" target="_blank">Learn more about Availability Zones</a>
          </li>
          <li>
            <a href="https://aka.ms/resiliency" target="_blank">Build a comprehensive resiliency strategy</a>
          </li>
          <li>
            <a href="https://azure.microsoft.com/en-us/resources/azure-resiliency-infographic/" target="_blank">Download</a> the Azure resiliency infographic
          </li>
        </ul>
      </p>
    </div>
  </div>
</div>