@{
  ViewBag.Title = "Azure Geographies";
}

<div class="container-fluid">
  <div class="page-header">
    <h3>@ViewBag.Title</h3>
    <small>A geography is a discrete market, typically containing two or more regions, that preserves data residency and compliance boundaries</small>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Azure Geographies
        </div>
        <div class="panel-body">
          <table class="table table-bordered table-striped" style="word-break: break-all">
            <thead>
              <tr>
                <th>Geography</th>
                <th>Regions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Asia Pacific</td>
                <td>
                  Southeast Asia ( Singapore )<br />
                  East Asia ( Hong Kong )<br />
                </td>
              </tr>
              <tr>
                <td>Australia</td>
                <td>
                  Australia Central ( Canberra )<br />
                  Australia Central 2 ( Canberra )<br />
                  Australia Southeast ( Victoria )<br />
                  Australia East ( New South Wales )<br />
                </td>
              </tr>
              <tr>
                <td>Brazil</td>
                <td>
                  Brazil South ( Sao Paulo State )<br />
                </td>
              </tr>
              <tr>
                <td>Canada</td>
                <td>
                  Canada Central ( Toronto )<br />
                  Canada East ( Quebec City )<br />
                </td>
              </tr>
              <tr>
                <td>Europe</td>
                <td>
                  West Europe ( Netherlands )<br />
                  North Europe ( Ireland )<br />
                </td>
              </tr>
              <tr>
                <td>France</td>
                <td>
                  France South ( Marseille )<br />
                  France Central ( Paris )<br />
                </td>
              </tr>
              <tr>
                <td>India</td>
                <td>
                  South India ( Chennai )<br />
                  Central India ( Pune )<br />
                  West India ( Mumbai )<br />
                </td>
              </tr>
              <tr>
                <td>Japan</td>
                <td>
                  Japan East ( Tokyo, Saitama )<br />
                  Japan West ( Osaka )<br />
                </td>
              </tr>
              <tr>
                <td>Korea</td>
                <td>
                  Korea South ( Busan )<br />
                  Korea Central ( Seoul )<br />
                </td>
              </tr>
              <tr>
                <td>South Africa</td>
                <td>
                  South Africa North ( Johannesburg )<br />
                </td>
              </tr>
              <tr>
                <td>United Kingdom</td>
                <td>
                  UK South ( London )<br />
                  UK West ( Cardiff )<br />
                </td>
              </tr>
              <tr>
                <td>United States</td>
                <td>
                  West Central US ( Wyoming )<br />
                  Central US ( Iowa )<br />
                  South Central US ( Texas )<br />
                  East US ( Virginia )<br />
                  North Central US ( Illinois )<br />
                  East US 2 ( Virginia )<br />
                  West US ( California )<br />
                  West US 2 ( Washington )<br />
                </td>
              </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>References</h3>
      <p>
        <ul>
          <li>
            <a href="https://docs.microsoft.com/en-us/azure/best-practices-availability-paired-regions" target="_blank">Business continuity and disaster recovery (BCDR): Azure Paired Regions</a>
          </li>
        </ul>
      </p>
    </div>
  </div>
</div>