<main class="container">
  <header>
    <h1 id="test">Azure Geographies</h1>
    <p>
      Azure Geographies refer to distinct markets that usually encompass two or more regions,
      designed to maintain data residency and compliance boundaries.
    </p>
  </header>
  <section>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Geography</th>
            <th>Regions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let g of tableData">
            <td>{{ g.geography }}</td>
            <td>
              <ng-container *ngFor="let r of g.regions">
                <span>{{ r.displayName }} ({{ r.physicalLocation }})</span>
                <br />
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section>
    <h2>Additional Resources</h2>
    <ul>
      <li>
        <a
          href="https://github.com/blrchen/cloud-catalog/blob/main/src/assets/azure/geographies.json"
          target="_blank"
        >
          geographies.json
        </a>
      </li>
      <li>
        <a
          href="https://docs.microsoft.com/en-us/azure/best-practices-availability-paired-regions"
          target="_blank"
        >
          Business continuity and disaster recovery (BCDR): Azure Paired Regions
        </a>
      </li>
    </ul>
  </section>
  <section>
    <div class="ad-space"></div>
  </section>
</main>
