<div>
  <div class="border-bottom">
    <h1 class="h4">Azure CDN Speed Test</h1>
  </div>
  <div>
    CDN Speed Test is turned off because some bad guys programmatically download
    the test file, charge me $$$
  </div>
  <div>
    However, you can checkout following pages which let you run tests on latency
    and throughput

    <ul>
      <li>
        <a
          href="https://www.cedexis.com/get-the-data/country-report"
          target="_blank"
          >https://www.cedexis.com/get-the-data/country-report</a
        >
      </li>
      <li>
        <a href="https://www.cdnperf.com/" target="_blank"
          >https://www.cdnperf.com</a
        >
      </li>
    </ul>
  </div>
</div>
