@{
    ViewBag.Title = "About";
}
<div class="container-fluid">
    <h3 class="page-header">About</h3>
    <div class="row">
        <div class="col-md-12">
            <p>
                <a href="http://www.azurespeed.com">www.AzureSpeed.com</a> - A speedtest tool for Azure. Test network latencies and speed to Azure data centers from different countries.
            </p>
            <p>
                <a href="http://www.azurespeed.com">www.AzureSpeed.com</a> is developed and maintained by Blair Chen (<a href="https://twitter.com/blrchen" target="_blank">@@blrchen</a>), open source on <a href="https://github.com/blrchen/AzureSpeed">GitHub</a>, built on top of following open source projects
                <ul>
                    <li><a href="https://github.com/aspnet/Mvc" target="_blank">ASP.NET MVC</a></li>
                    <li><a href="https://github.com/jquery/jquery" target="_blank">jQuery</a></li>
                    <li><a href="https://github.com/twbs/bootstrap" target="_blank">bootstrap</a></li>
                    <li><a href="https://github.com/angular/angular" target="_blank">angular</a></li>
                    <li><a href="https://github.com/FortAwesome/Font-Awesome" target="_blank">font awesome</a></li>
                    <li><a href="https://github.com/mbostock/d3" target="_blank">d3</a></li>
                    <li><a href="https://github.com/orcame/jazure" target="_blank">jazure</a></li>
                    <li><a href="https://github.com/IronSummitMedia/startbootstrap-sb-admin-2" target="_blank">SB Admin 2 Theme</a></li>
                </ul>
            </p>
            <p>Fork on <a href="https://github.com/blrchen/AzureSpeed">GitHub</a> or open issues <a href="https://github.com/blrchen/AzureSpeed/issues">here</a></p>
        </div>
    </div>
    <h3 class="page-header">Change logs</h3>
    <div class="row">
        <div class="col-md-12">
            <p>2014-04-10</p>
            <ul>
                <li>Add Latency Test</li>
                <li>Add Upload Speed Test</li>
                <li>Add Download Speed Test</li>
            </ul>
            <p>2014-07-30</p>
            <ul>
                <li>Add new data centers East US 2, Japan East, Japan West</li>
                <li>Add CDN Test</li>
                <li>Add Large File Upload Speed Test</li>
            </ul>
            <p>2014-08-21</p>
            <ul>
                <li>Add Traffic Manager Test</li>
                <li>Add Cloud Region Finder tool</li>
                <li>Add Australia data centers</li>
            </ul>
            <p>2015-02-13</p>
            <ul>
                <li>Add Media Service Live Streaming Latency Test</li>
            </ul>
            <p>2015-09-30</p>
            <ul>
                <li>Add India data centers</li>
            </ul>
            <p>2015-10-30</p>
            <ul>
                <li>Add Cloud IP Range</li>
            </ul>
            <p>2016-6-6</p>
            <ul>
                <li>Add Canada data centers</li>
            </ul>
        </div>
    </div>
</div>
