@{
    ViewBag.Title = "Azure Storage Blob Download Speed Test";
}

<div class="container-fluid" ng-controller="downloadCtrl">
    <h3 class="page-header">Azure Storage Blob Download Speed Test</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-th-list"></i>
                    Download Speed Test
                </div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Geo</th>
                        <th>Region</th>
                        <th>Location</th>
                        <th>Test File</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in items">
                        <td>{{item.geo}}</td>
                        <td>{{item.region}}</td>
                        <td>{{item.location}}</td>
                        <td>
                            <a ng-if="item.url.length>0" class="btn btn-default" href="{{item.url}}">Download 100MB File</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>