@{
    ViewBag.Title = "Azure Latency Test";
}

<style>
    .x.axis line {
        shape-rendering: auto;
    }

    .line {
        fill: none;
        stroke-width: 3px;
    }
</style>

<div class="container-fluid" ng-controller="LatencyController">
    <div class="page-header">
        <h3>@ViewBag.Title</h3>
        <small>Test network latency to Azure data centers around the world.</small>
    </div>
    @Html.Partial("_RegionSelector")
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Closest Data Centers
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped" id="closest-table"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Azure Latency
                </div>
                <div class="panel-body">
                    <div class="chart-container">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Latency Test
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped" id="latency-table">
                        <thead>
                            <tr>
                                <th>Geo</th>
                                <th>Region</th>
                                <th>Location</th>
                                <th>Average Latency (ms)</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*todo: figure out how to make latency only load on homepage *@
<script src="~/js/azurespeed/latency.js" asp-append-version="true"></script>