@{
    ViewBag.Title = "Azure Storage Latency Test";
}

<style>
    .x.axis line {
        shape-rendering: auto;
    }

    .line {
        fill: none;
        stroke-width: 3px;
    }
</style>

<div class="container-fluid" ng-controller="LatencyController">
    <div class="page-header">
        <h3>@ViewBag.Title</h3>
        <small>Test network latency to Azure Storage in worldwide data centers, determine the best region for your application and users. A closer data center will provide less latency and fast throughput.</small>
    </div>
    @Html.Partial("_RegionSelector")
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-th-list"></i>
                    Closest Data Centers
                </div>
                <table class="table table-bordered table-striped" id="closest-table"></table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-area-chart"></i>
                    Azure Storage Latency
                </div>
                <div class="chart-container">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-th-list"></i>
                    Latency Test
                </div>
                <table class="table table-bordered table-striped" id="latency-table">
                    <thead>
                        <tr>
                            <th>Geo</th>
                            <th>Region</th>
                            <th>Location</th>
                            <th>Average Latency (ms)</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*todo: figure out how to make latency only load on homepage *@
<script src="~/js/azurespeed/latency.js" asp-append-version="true"></script>