@{
    ViewBag.Title = "Reference";
}

<div class="container-fluid">
    <div class="page-header">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-unstyled">
                <li>
                    <a href="https://azure.microsoft.com/en-us/regions/" target="_blank">Azure Datacenter Regions</a>
                </li>
                <li>
                    <a href="http://msdn.microsoft.com/library/azure/dn175718.aspx" target="_blank">Azure Datacenter IP Ranges</a>
                </li>
                <li>
                    <a href="http://msdn.microsoft.com/library/azure/gg680302.aspx" target="_blank">Azure Content Delivery Network (CDN) Node Locations</a>
                </li>
                <li>
                    <a href="http://msdn.microsoft.com/library/azure/dn249410.aspx" target="_blank">Azure Storage Scalability and Performance Targets</a>
                </li>
                <li>
                    <a href="http://azure.microsoft.com/en-us/documentation/articles/azure-subscription-service-limits/" target="_blank">Azure Subscription and Service Limits, Quotas, and Constraints</a>
                </li>
                <li>
                    <a href="http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html" target="_blank">AWS Regions and Availability Zones</a>
                </li>
            </ul>
        </div>
    </div>
</div>