@{
    ViewBag.Title = "Azure Storage Upload Speed Test";
}

<div class="container-fluid" ng-controller="uploadCtrl">
    <h3 class="page-header">Azure Storage Blob Upload Speed Test</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                Test upload speed to Azure Blob Storage in worldwide data centers
            </div>
        </div>
    </div>
    <label>{{percent}}</label>
    <div class="row">
        <div class="col-md-12">
            <div>
                <label>Please check regions you want to test: </label>
            </div>
            <div >
                <label class="checkbox-inline" ng-repeat="region in regions">
                    <input type="checkbox" value="{{region.region}}"
                           ng-model="region.checked" ng-change="regionChange()" >
                    {{region.region}}
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <button class="btn btn-success" ng-click="uploadLoop()" ng-disabled="!canClick()">Start Upload Speed Test >></button>
            </div>
        </div>
    </div>
    <div class="row row-margin-top">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-th-list"></i>
                    Upload Speed Result
                </div>
                <table class="table table-bordered table-striped" id="upload-table">
                    <thead>
                        <tr>
                            <th>Geo</th>
                            <th>Region</th>
                            <th>Location</th>
                            <th>Upload Progress</th>
                            <th>Upload Speed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="result in results">
                            <td>{{result.geo}}</td>
                            <td>{{result.region}}</td>
                            <td>{{result.location}}</td>
                            <td class="upload-progress">
                                <div class="progress" style="margin-bottom: -20px;">
                                    <div class="progress-bar progress-bar-info" style="width: {{result.progressPercent}}% ">{{result.progressPercent}}%</div>
                                </div>
                            </td>
                            <td class="upload-speed sort speed-success speed-inprogress">{{result.speed}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>