@{
  ViewBag.Title = "Azure Region to Region Latency";
}
<div class="container-fluid">
  <div class="page-header">
    <h3>@ViewBag.Title</h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        To see average latency between azure datacenters, please go to <a href="https://docs.microsoft.com/en-us/azure/networking/azure-network-latency">https://docs.microsoft.com/en-us/azure/networking/azure-network-latency</a>
      </p>
      <p>
        <img class="img-responsive center-block" src="~/image/azure-inter-region-latency-2019-10.png" />
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>References</h3>
      <p>
        <ul>
          <li>
            <a href="https://docs.microsoft.com/en-us/azure/expressroute/expressroute-troubleshooting-network-performance" target="_blank">Troubleshooting network performance</a>
          </li>
          <li>
            <a href="https://www.networkworld.com/article/3319776/the-network-matters-for-public-cloud-performance.html" target="_blank">Which cloud performs better, AWS, Azure or Google?</a>
          </li>  
          <li>
            <a href="https://docs.microsoft.com/en-us/azure/network-watcher/view-relative-latencies" target="_blank">View relative latency to Azure regions from specific locations</a>
          </li>
        </ul>
      </p>
    </div>
  </div>
</div>
