@{
    ViewBag.Title = "Azure Regions";
}

<div class="container-fluid" ng-controller="IpRangeController">
    <div class="page-header">
        <h3>@ViewBag.Title</h3>
        <small>Some funny data for how many public ip address do Microsoft, AWS and Alibaba owns. If you know ip or url, you can use <a href="~/Cloud/RegionFinder">Cloud Region Finder</a> to find our detail cloud and region info</small>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Datacenter IP Range
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped" style="word-break: break-all">
                        <thead>
                            <tr>
                                <th width="60">Cloud</th>
                                <th width="100">Region</th>
                                <th width="80">Total IP</th>
                                <th>IP Range Detail</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>