{
  "extends": "react-app",
  "rules": {
    "comma-dangle": [2, "never"],
    "comma-spacing": [2, {
      "before": false,
      "after": true
    }],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "no-multiple-empty-lines": [2, {
      "max": 1
    }],
    "no-trailing-spaces": 2,
    "no-tabs": 2,
    "semi": [2, "always"]
  }
}