<div>
  <div class="border-bottom">
    <h1 class="h4">Azure Sovereign Clouds</h1>
    <small> Azure Sovereign Clouds run on dedicated physical and logical network-isolated instances in country </small>
  </div>

  <div class="mt-3">
    <table class="table table-sm table-bordered table-striped ft-14 mt-2">
      <thead>
        <tr>
          <th>Name</th>
          <th>Introduction</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>AzureCloud</td>
          <td>
            <a href="https://azure.microsoft.com" target="_blank">https://azure.microsoft.com</a>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>AzureChinaCloud</td>
          <td>
            <a href="https://www.azure.cn" target="_blank">https://www.azure.cn</a>
          </td>
          <td>Runs on dedicated instance in China, operated by 21Vianet</td>
        </tr>
        <tr>
          <td>AzureGermanCloud</td>
          <td>
            <a href="https://www.microsoft.com/en-us/cloud-platform/germany-cloud-regions" target="_blank"
              >https://www.microsoft.com/en-us/cloud-platform/germany-cloud-regions</a
            >
          </td>
          <td>Close on October 2021</td>
        </tr>
        <tr>
          <td>AzureUSGovernment</td>
          <td>
            <a href="https://azure.microsoft.com/en-us/global-infrastructure/government/" target="_blank"
              >https://azure.microsoft.com/en-us/global-infrastructure/government/</a
            >
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
