<div class="container-fluid py-3">
  <h1 class="h2 fw-bold">ChatGPT Code Generator</h1>
  <p>
    Welcome to ChatGPT Code Generator. This tool uses AI technology to generate code based on your
    natural language descriptions.
  </p>
  <form [formGroup]="userContentForm" (submit)="submitForm()" class="mb-3">
    <fieldset class="form-group mb-3">
      <label for="userContent" class="form-label fw-bold">
        Brief description of the code functionality
      </label>
      <textarea
        class="form-control"
        id="userContent"
        placeholder="Example: 'I need a function to sort a list of numbers.'"
        formControlName="userContent"
        required
        rows="6"
      ></textarea>
      <small class="form-text text-muted">
        Characters: {{ userContentForm.get('userContent')?.value.length }}/5000
      </small>
      <div
        *ngIf="userContentForm.controls['userContent'].errors?.['maxlength']"
        class="alert alert-danger mt-2"
      >
        Character limit exceeded. Please limit your text to 5000 characters.
      </div>
    </fieldset>
    <fieldset class="form-group mb-3">
      <legend>Select Your Preferred Programming Language</legend>
      <div class="d-flex flex-row flex-wrap">
        <div *ngFor="let lang of languages" class="form-check form-check-inline mb-2">
          <input
            type="radio"
            id="{{ lang }}"
            name="programLanguage"
            [value]="lang"
            formControlName="programLanguage"
            required
            class="form-check-input"
            [checked]="lang === userContentForm.get('programLanguage')?.value"
            (change)="onProgramLanguageChange(lang)"
          />
          <label for="{{ lang }}" class="form-check-label">{{ lang }}</label>
        </div>
      </div>
    </fieldset>
    <button
      type="submit"
      class="btn btn-primary me-2"
      [disabled]="userContentForm.invalid || isLoading"
    >
      Generate Code
    </button>
    <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset</button>
  </form>
  <div *ngIf="isLoading" class="spinner-border text-primary">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div *ngIf="result" class="card mb-4">
    <div class="card-header">
      <h2 class="h5 mb-0">Your generated code</h2>
    </div>
    <div class="card-body">
      <div class="bg-light p-3 rounded">
        <p style="white-space: pre-wrap" class="mb-0">{{ result }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  <app-assistant-footer></app-assistant-footer>
</div>
