<main class="container">
  <header>
    <h1 id="title">Region to Region Latency</h1>
  </header>
  <section>
    <p>
      Visit the
      <a
        href="https://docs.microsoft.com/en-us/azure/networking/azure-network-latency"
        target="_blank"
      >
        Azure Network Latency Documentation
      </a>
      to view average latency between Azure datacenters on their backbone network. A screenshot from
      December 2020 is provided below for reference.
    </p>
    <figure>
      <img
        class="img-fluid"
        src="../../../assets/images/azure-network-latency-2020-12.png"
        alt=""
      />
    </figure>
  </section>
  <section>
    <h2>Additional resources:</h2>
    <ul>
      <li>
        <a
          href="https://docs.microsoft.com/en-us/azure/networking/azure-network-latency"
          target="_blank"
        >
          Azure network round trip latency statistics
        </a>
      </li>
      <li>
        <a
          href="https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-test-latency"
          target="_blank"
        >
          Test VM network latency
        </a>
      </li>
      <li>
        <a
          href="https://docs.microsoft.com/en-us/azure/network-watcher/view-relative-latencies"
          target="_blank"
        >
          View relative latency to Azure regions from specific locations
        </a>
      </li>
      <li>
        <a
          href="https://docs.microsoft.com/en-us/azure/expressroute/expressroute-troubleshooting-network-performance"
          target="_blank"
        >
          Troubleshooting network performance
        </a>
      </li>
      <li>
        <a
          href="https://www.networkworld.com/article/3319776/the-network-matters-for-public-cloud-performance.html"
          target="_blank"
        >
          Which cloud performs better, AWS, Azure or Google?
        </a>
      </li>
    </ul>
  </section>
  <section>
    <div class="ad-space"></div>
  </section>
</main>
