<div>
  <div class="border-bottom">
    <h1 class="h4">Region to Region Latency</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        To see average latency between azure datacenters via Azure backbone
        network, please go to
        <a
          href="https://docs.microsoft.com/en-us/azure/networking/azure-network-latency"
          target="_blank"
          >https://docs.microsoft.com/en-us/azure/networking/azure-network-latency</a
        >
      </p>
      <p>
        <img
          class="img-fluid"
          src="../../../assets/images/azure-network-latency-2020-02.png"
        />
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="h5">References</h2>
      <ul>
        <li>
          <a
            href="https://docs.microsoft.com/en-us/azure/networking/azure-network-latency"
            target="_blank"
            >Azure network round trip latency statistics</a
          >
        </li>
        <li>
          <a
            href="https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-test-latency"
            target="_blank"
            >Test VM network latency</a
          >
        </li>
        <li>
          <a
            href="https://docs.microsoft.com/en-us/azure/network-watcher/view-relative-latencies"
            target="_blank"
            >View relative latency to Azure regions from specific locations</a
          >
        </li>
        <li>
          <a
            href="https://docs.microsoft.com/en-us/azure/expressroute/expressroute-troubleshooting-network-performance"
            target="_blank"
            >Troubleshooting network performance</a
          >
        </li>
        <li>
          <a
            href="https://www.networkworld.com/article/3319776/the-network-matters-for-public-cloud-performance.html"
            target="_blank"
            >Which cloud performs better, AWS, Azure or Google?</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
