html,
body {
  height: 100vh;
}

body {
  overflow: auto;
}

.ft-12 {
  font-size: 12px;
}

.ft-14 {
  font-size: 14px;
}

.cursor-pointer {
  cursor: pointer;
}

.modal-dialog {
  margin: auto;
}

@media (max-width: 768px) {
  .modal-md {
    .modal-dialog {
      max-width: 80%;
    }
  }
}

@media (min-width: 768px) {
  .modal-md {
    .modal-dialog {
      min-width: 500px;
      max-width: 46%;
    }
  }
}
