<main class="container">
  <header>
    <h1 id="title">Azure IP Ranges</h1>
    <p>
      This page provides a comprehensive list of IP ranges for Microsoft Azure Clouds. Utilize the
      <a href="/Azure/IPLookup" title="Azure IP Lookup">Azure IP Lookup</a>
      tool to expedite the access to regional and service tag data.
    </p>
  </header>
  <section>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Region</th>
            <th scope="col">Total #</th>
            <th scope="col">IP Addresses</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subnet of tableData">
            <td style="min-width: 100px">{{ subnet.region }}</td>
            <td style="min-width: 100px">{{ subnet.totalIp }}</td>
            <td>{{ subnet.subnet }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section>
    <h2>Additional Resources</h2>
    <ul>
      <li>
        <a
          href="https://www.microsoft.com/en-us/download/details.aspx?id=56519"
          target="_blank"
          title="Azure IP Ranges and Service Tags – Public Cloud"
        >
          Azure IP Ranges and Service Tags – Public Cloud
        </a>
      </li>
      <li>
        <a
          href="https://www.microsoft.com/en-us/download/details.aspx?id=41653"
          target="_blank"
          title="[Deprecated] Azure Datacenter IP Ranges"
        >
          [Deprecated] Azure Datacenter IP Ranges
        </a>
      </li>
      <li>
        <a
          href="https://www.microsoft.com/en-us/download/details.aspx?id=57062"
          target="_blank"
          title="Azure IP Ranges and Service Tags – China Cloud"
        >
          Azure IP Ranges and Service Tags – China Cloud
        </a>
      </li>
      <li>
        <a
          href="https://www.microsoft.com/en-us/download/details.aspx?id=42064"
          target="_blank"
          title="[Deprecated] Azure Datacenter IP Ranges in China"
        >
          [Deprecated] Azure Datacenter IP Ranges in China
        </a>
      </li>
    </ul>
  </section>
  <section>
    <div class="ad-space"></div>
  </section>
</main>
