<div>
  <div class="border-bottom">
    <h1 class="h4">Azure IP Ranges</h1>
    <small>
      This page lists IP range raw data of Microsoft Azure clouds. You can use
      <a href="/Azure/IPLookup">Azure IP Lookup</a> to lookup region and
      service tag information
    </small>
  </div>
  <div class="mt-3">
    <table
      class="table table-bordered table-striped"
      style="word-break: break-all;"
    >
      <thead>
        <tr>
          <th width="60">Cloud</th>
          <th width="100">Region</th>
          <th width="80">Total # of IP Address</th>
          <th>IP Range Detail</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subnet of tableData">
          <td>{{ subnet.cloud }}</td>
          <td>{{ subnet.region }}</td>
          <td>{{ subnet.totalIp }}</td>
          <td>{{ subnet.subnet }}</td>
        </tr>
      </tbody>
    </table>
    <ul>
      <li>
        Azure:
        <a
          href="https://www.microsoft.com/en-us/download/details.aspx?id=56519"
          target="_blank"
          >https://www.microsoft.com/en-us/download/details.aspx?id=56519</a
        >
      </li>
      <li>
        [Deprecated] Azure:
        <a
          href="https://www.microsoft.com/en-us/download/details.aspx?id=41653"
          target="_blank"
          >https://www.microsoft.com/en-us/download/details.aspx?id=41653</a
        >
      </li>
      <li>
        Azure China:
        <a
          href="https://www.microsoft.com/en-us/download/details.aspx?id=57062"
          target="_blank"
          >https://www.microsoft.com/en-us/download/details.aspx?id=57062</a
        >
      </li>
      <li>
        [Deprecated] Azure China:
        <a
          href="https://www.microsoft.com/en-us/download/details.aspx?id=42064"
          target="_blank"
          >https://www.microsoft.com/en-us/download/details.aspx?id=42064</a
        >
      </li>
      <li>
        AWS:
        <a
          href="http://docs.aws.amazon.com/general/latest/gr/aws-ip-ranges.html"
          target="_blank"
          >http://docs.aws.amazon.com/general/latest/gr/aws-ip-ranges.html</a
        >
      </li>
    </ul>
  </div>
</div>
