<div>
  <div class="border-bottom">
    <h1 class="h5">Azure Virtual Mahcine Pricing</h1>
    <small>Azure Virtual Machine pricing </small>
  </div>
  <div class="mt-3">
    <table class="table table-sm table-bordered table-striped ft-14 mt-2">
      <thead>
        <tr>
          <!-- <th>Slug Id</th> -->
          <th>OS</th>
          <th>Instance</th>
          <th>Tier</th>
          <th>Cores</th>
          <th>Ram</th>
          <!-- <th>Category</th> -->
          <th>DiskType</th>
          <th>Temp Disk</th>
          <th>Price ($/hour)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of tableData">
          <!-- <td>{{s.id}}</td> -->
          <td>{{ s.os }}</td>
          <td>{{ s.instanceName }}</td>
          <td>{{ s.tier }}</td>
          <td>{{ s.cores }}</td>
          <td>{{ s.ram.capacity }} {{ s.ram.unit }}</td>
          <!-- <td>{{s.category}}</td> -->
          <td>{{ s.diskType }}</td>
          <td>{{ s.disk.capacity }} {{ s.disk.unit }}</td>
          <td>
            <ul>
              <li ng-repeat="p in s.prices.pricesByRegion">
                <!-- {{ p.region }}: {{ p.price }} -->
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-3">
    <h3>References</h3>
    <ul>
      <li>
        <a
          href="https://github.com/Azure-Samples/billing-dotnet-ratecard-api"
          target="_blank"
          >Microsoft Azure Billing API Code Samples: RateCard API</a
        >
      </li>
    </ul>
  </div>
</div>
