[*.cs]

# CA1014: Mark assemblies with CLSCompliantAttribute
dotnet_diagnostic.ca1014.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none

# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA2254:Template should be a static expression
dotnet_diagnostic.CA2254.severity = none