<div>
  <div class="text-danger font-weight-bold" *ngIf="!totalCheckedRegions">
    Please select at least one region to start testing.
  </div>
  <div class="row px-1">
    <div class="col-12 col-md-4 pl-md-1 pr-md-1 mt-2" *ngFor="let group of regionsGroup">
      <section class="border rounded-sm">
        <div class="d-flex justify-content-between bg-light border-bottom p-1">
          <strong>{{ group.geography }}</strong>
          <label [attr.for]="group.geography" class="mb-0">
            <input
              type="checkbox"
              [attr.id]="group.geography"
              [(ngModel)]="group.checked"
              (change)="onChange(null, group)"
            />
            Select all
          </label>
        </div>
        <div class="mt-1 px-2 py-1">
          <label
            *ngFor="let region of group?.regions"
            [attr.for]="region.regionName"
            class="cursor-pointer mr-2 mb-1"
            [ngClass]="{ 'text-primary': region.checked }"
          >
            <input
              type="checkbox"
              [attr.id]="region.regionName"
              [(ngModel)]="region.checked"
              (change)="onChange(region, group)"
            />
            {{ region.displayName }}
          </label>
        </div>
      </section>
    </div>
  </div>
</div>
