<h1 class="h2">ChatGPT Writing Assistant</h1>
<p id="description">
  Welcome to ChatGPT Writing Assistant, your companion for mastering the art of written
  communication. This AI-driven assistant is ideal for writers, students, professionals, and anyone
  passionate about crafting compelling narratives with ease and precision. Are you prepared to
  elevate your writing prowess to new heights?
</p>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 mb-4" *ngFor="let card of textCards">
    <article class="card">
      <div class="card-body">
        <h2 class="card-title h4">{{ card.title }}</h2>
        <p class="card-text">{{ card.text }}</p>
        <a [href]="card.link" class="btn btn-primary">Try it now</a>
      </div>
    </article>
  </div>
</div>
